
/* Tablet mode */
@media (max-width: 992px) {
    /*Navbar adjustments*/
    .container {
        width: 80%;
    }
    #mobile-menu-icon {
        display: block;
    }
    #nav-button {
        display: none;
    }
    .navlink {
        display: none;
    }
    .container.navbar img {
        width: 100px;
        height: 40px;
    }

    /*hero section adjustments*/
    #hero-section {
        flex-direction: column;
        gap: 3rem;
    }
    #hero-image {
        margin-right: 0;
    }
    #herotext-cta {
        gap: 1rem;
    }

    /*features section adj*/
    #feature-list {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .features-card-div {
        width: 70%;
        margin-bottom: 9rem;
        height: 470px;
    }
    .feature-img {
        width: 300px;
    }
    .feature-header {
        width: 100%;
    }

    /*Feature details section*/
    .feat-details {
        flex-direction: column;
        align-items: center;
    }
    .text-section {
        order: 10;
        width: 100%;
    }
    .feature-text-icon {
        width: 80%;
    }

    /*three lines of code section*/
    #three-code-flex {
        flex-direction: column;
    }
    #three-img {
        width: 100%;
    }

    /*Why kable*/
    #why-flex-cont {
        flex-direction: column;
    }

    /*Schedule onboard*/
    .container.sch-onboard {
        flex-direction: column;
        gap: 3rem;
    }
    #onboard-img-div {
        position: relative;
        top: 0;
        left: 0;
        max-width: 800px;
        order: -1;
    }

    /*Footer*/
    .icon-links {
        flex-direction: column;
        gap: 3rem;
    }
    .foot-link {
        width: 15rem;
    }
    .sm-icons-copyright {
        flex-direction: column;
        gap: 1rem;
    }
}







/*Phones below*/
@media (max-width: 576px) {
    .container {
        width: 90%
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.7rem;
    }

    /*Features adj*/
    .features-card-div {
        margin-bottom: 7rem;
        width: 85%;
    }
    .feature-img {
        width: 250px;
    }
    #feature-list {
        gap: 2rem;
    }

    
    #herotext-cta {
        gap: 24px;
    }
    #hero {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    /*Feature details section*/
    .feature-text-icon {
        gap: 1rem;
        width: 90%
    }
    .check-icon {
        padding-top: 0.1rem;
    }

    /*comparison section*/
    h3 {
        font-size: 1rem;
    }
    .com-head-cont {
        width: 150px;
        padding: 0.5rem;
    }
    .title {
        padding: 0.5rem;
    }

    /*Why kable*/
    #why-grid {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    }

    /*Schedule onboarding*/
    #schedule-form {
        background-color: transparent;
        flex-direction: column;
        gap: 1rem;
    }
    #form-button {
        width: 100%;
    }
    #schedule-form-input {
        border-radius: 8px;
        padding: 1.4rem;
        padding-left: 3.5rem;
        background-position: 3%;
    }

    /*Footer section*/
    .footer-links {
        flex-direction: column;
        gap: 3rem;
    }
}



@media (max-width: 768px) {
    .compare-head {
        width: 100%;
    }
    .comp-title {
        flex-direction: column;
        align-items: flex-start;
    }
    .com-head-cont {
        text-align: left;
    }
    .title {
        width: 100%;
    }
}