:root {
    --white: #ffffff;
    --cta: #2CAE76;
    --text: #04121F;
    --light-text: #6b6768;
    --sec-color: #F8F4EE;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    color: var(--text);
}

h1 {
    font-size: 3.3rem;
    margin: 0;
}
h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
}
h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 900;
}
h4 {
    font-size: 1.4rem;
    margin: 0;
}
h5 {
    font-size: 1.2rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

.small-p{
    font-size: 1rem;
    color: var(--light-text);
}



.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header {
    background-color: var(--white);
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    height: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
}

.navlink {
    display: flex;
}
.navlink-text {
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    gap: 4px;
}
.navlink-text p {
    font-size: 1rem;
}
.navlink-text:hover {
    color: var(--light-text)
}

.material-icons {
    font-size: 24px !important;
}

.container.navbar img {
    width: 178px;
}

.button {
    text-decoration: none;
    background-color: var(--cta);
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 36px;
    border-radius: 8px;
    font-weight: 500;
    width: fit-content;
}
.button:hover {
    background-color: var(--text);
}

img {
    width: 100%;
}

#mobile-menu-icon {
    display: none;
}

div.navlink-text {
    cursor: pointer;
}


/*Company dropdown list section*/
.company-dropdown-list {
    z-index: 10;
    position: absolute;
    left: 0px;
    right: 0;
    top: 80px;
}
.expand-company {
    display: flex;
    gap: 1rem;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 0 16px 30px 0 hsla(0, 0%, 85.9%, 0.25);
    border-radius: 0.5rem;
}
.careers-sect {
    width: 50%;
    padding: 1rem;
    border-radius: 8px;
}
.careers-sect:hover {
    background-color: #2cae762f;
}
.careers-sect a {
    text-decoration: none;
}
.dropdown-title {
    margin-bottom: 1rem;
    color: var(--cta);
}
.careers-sect .small-p {
    color: var(--text);
}

.show-dropdown {
    visibility: visible;
}
.hide-dropdown {
    visibility: hidden;
}


/*Hero Section*/
#hero{
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: hidden;
}

.container.hero {
    display: flex;
}
#herotext-cta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#ycomb {
    display: flex;
    align-items: center;
    gap: 8px;
}
#cta-text {
    color: var(--light-text);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#hero-section {
    display: flex;
    align-items: center;
    gap: 3rem;
}


/*Features section*/
#features {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container.features {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}
.card-text-div {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features-card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 30%;
    background-color: var(--sec-color);
    border-radius: 8px;
    padding: 2rem 1.5rem;
}
.features-card-div:hover {
    background-color: var(--text);
    color: var(--white);
}
.img-div {
    width: 100px;
    height: 100px;
}

.card-text-div p {
    color: var(--light-text);
}
.card-text-div a {
    color: inherit;
    font-weight: 600;
}

.feature-img {
    margin-bottom: -100px;
    margin-top: 24px;
    width: 80%;
    box-shadow: 0 16px 30px 0 hsla(0, 0%, 85.9%, 0.25);
}
#feature-list {
    width: 100%;
    display: flex;
    gap: 3rem;
    margin-bottom: 9rem;
}
.feature-header {
    width: 60%;
}

/* Feature details */
.feat-details {
    display: flex;
    gap: 48px;
    margin-bottom: 10rem;
}
.head-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.head-text p {
    color: var(--light-text);
}
.check-icon {
    width: 32px;
    height: 32px;
}
.feature-text-icon {
    display: flex;
    gap: 3rem;
    width: 70%;
}
.text-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.feat-details-img {
    display: flex;
    align-items: center;
}

/*three lines of code section*/
#three-code-flex {
    display: flex;
    gap: 3rem;
    align-items: center;

}
#three-code-flex p {
    color: var(--light-text);
}
#three-img {
    width: 48%;
}

.head-text.three {
    order: 1;
}
#three-code {
    margin-bottom: 9rem;
}

/*Comparison section*/
#compare-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10rem;
}
.compare-head {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.com-head-cont {
    max-width: 200px;
    padding: 1rem;
    text-align: center;
}
.title {
    padding: 16px;
    max-width: 200px;
}
.title p {
    font-size: 1rem;
}
.comp-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sec-color);
    padding: 0.5rem 0;
}

.compare-head.com-head-cont {
    padding-left: 0px;
}

.comp-title.sec {
    background-color: var(--white);
}

/*Why Kable Section*/
#why-kable{
    margin-bottom: 10rem;
}
.compare-head-sticky {
    position: sticky;
    top: 0;
    background-color: var(--white);
}

#why-flex-cont {
    display: flex;
    gap: 3rem;
}

#why-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.why-grid-icon {
    width: 56px;
    height: 56px;
}

/*We're hiring*/
#hiring {
    margin-bottom: 10rem;
}
.head-text.hire {
    align-items: center;
    text-align: center;
}

/*Schedule onboarding*/
#schedule {
    background-color: var(--text);
    color: var(--white);
    margin-bottom: 10rem;
    overflow: hidden;
}
#schedule .head-text {
    width: 100%;
}
.container.sch-onboard {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
}
.container.sch-onboard p {
    color: var(--light-text);
}

#schedule-form {
    display: flex;
    background-color: var(--white);
    width: auto;
    padding: 0.25rem;
    border-radius: 0.5rem;
}
#schedule-form-input {
    padding: 1rem;
    font-family: inherit;
    font-size: 0.8rem;
    border: none;
    padding-left: 3rem;
    background-image: url(images/message-icon.svg);
    background-repeat: no-repeat;
    background-position: 2%;
    width: 100%;
}
#schedule-form-input:focus-visible {
    outline: none;
}

#form-button {
    border: none;
    font-family: inherit;
    font-size: inherit;
}

#onboard-img-div {
    position: relative;
    top: 74px;
    left: 28%;
    max-width: 800px;
}


/*Container section*/
#footer {
    margin-bottom: 3rem;
}
.container.foot {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.email-icon {
    display: flex;
    align-items: flex-end;
    width: 1.5rem;
    height: 1.5rem;
}
.email-iconlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
}
.email-iconlink p {
    color: var(--light-text);
}
.icon-email {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--light-text);
}
.icon-email a {
    text-decoration: none;
}
.foot-link-header {
    text-decoration: none;
    color: var(--text);
}
.footer-links {
    display: flex;
}
.foot-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 12rem;
}
.foot-link-menu {
    text-decoration: none;
    color: var(--light-text);
}
.foot-link-menu:hover {
    color: var(--text);
}
.icon-links {
    display: flex;
    justify-content: space-between;
}
.sm-icons {
    width: 20px;
    height: 20px;
}
.social-icons {
 display: flex;
 gap: 1rem;
 width: fit-content;
}
.copyright-text .small-p {
    color: var(--text);
}
.kable-inc {
    color: var(--light-text);
}
.sm-icons-copyright {
    display: flex;
    justify-content: space-between;
}

.line-socialicons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hr-line {
    width: 100%;
    height: 1px;
    background-color: var(--text);
}